html {
  color: #ccc;
  background-color: rgb(63, 62, 62);
  display: table;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}

/* ---------- Font ----------*/
h1 {
  font-size: 2em;
  font-weight: 300;

}

h2 {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 3px;
  text-align: center;
}

b {
  font-weight: bold;
}


/* ---------- Grid container ---------- */
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 5px;

}

.grid-container>article {
  text-align: left;
  padding: 10px;
  margin: .5%;
  margin-left: auto;
  width: 200px;
  justify-self: center;
}

.grid-container>article>img {
  width: 200px;
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-bottom: 1em;
}

.grid-container>article iframe {
  display: block;
  margin: 2% auto;
  width: 100%;
  height: 300px;

}

/* ---------- Search bar ---------- */
#text {
  font-size: 2vh;
}

#search {
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
}

#searchID {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* ---------- Filter section ---------- */
#filter {
  display: block;
}

/* ---------- Botton styling ----------*/
.btn {
  box-shadow: 0px 10px 14px -7px #276873;
  background: linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
  background-color: #599bb3;
  border-radius: 8px;
  border-color: #599bb3;
  display: block;
  margin: 1% auto;
  cursor: pointer;
  font-size: 20px;
  padding: 13px 32px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
}

.btn:hover {
  background: linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
  background-color: #408c99;
}

.btn:active {
  position: relative;
  top: 1px;
}

/* ---------- Checkbox styling ----------*/
.label {
  display: inline;
}

.check {
  display: none;
}

.check+.label {
  box-shadow: 0px 10px 14px -7px #276873;
  background: #6ac4d4;
  border: 1px solid #cacece;
  color: #ffffff;
  padding: 9px;
  border-radius: 8px;
  display: inline-block;
  position: relative;
  margin: 1%;
}

.check+.label:active,
.check:checked+.label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.check:checked+.label {
  /* box-shadow: 0px 10px 14px -7px #276873; */
  background: #5a7077;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}





/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  overflow: hidden;
  background: var(--loader-background-color);
  text-align: center;
}

.spinner {
  border: 5px solid lightgray;
  border-radius: 50%;
  border-top: 5px solid #599bb3;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 675px) {
  .grid-container {
    grid-template-columns: 33.33% 33.33% 33.33%;
  }
}

@media (min-width: 800px) {



  .grid-container>article img {
    max-width: 300px;
  }

  #filter {
    width: 800px;
    margin: 0 auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: 19% 19% 19% 19% 19%;
  }
}

@media (min-width: 1550px) {
  .grid-container>article {
    width: 300px;
    margin: 0 auto;
  }
}